.login-container {
    border: 2px solid var(--black);
    border-radius: 10px;
    background-color: var(--white);
    padding: 20px;
    padding-right: 25px;
    margin: auto;
    width: 30%;
    margin-top: 100px;
}