.display {
    font-size: 5em;
    font-family: "MonumentExtended", sans-serif;
}

.highlight-text {
    font-family: "MonumentExtended", sans-serif;
}

.buttonText {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
}

@media (max-width: 1200px) {
    .display {
        font-size: 3em;
        font-family: "MonumentExtended", sans-serif;
    }
}