.display {
    font-size: 5em;
    margin: 10px;
    font-family: "MonumentExtended", sans-serif;
}

.tape-text {
    font-size: 6em;
    font-family: "MonumentExtended", sans-serif;
    margin: 20px;
}


.highlight-text {
    font-family: "MonumentExtended", sans-serif;
}

.skewed-tape-img {
    transform: inherit;
    height: 30px;
    width: 30px;
}

.buttonText {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
}


@media (max-width: 1200px) {
    .display {
        font-size: 3em;
        font-family: "MonumentExtended", sans-serif;
    }

    .tape-text {
        font-size: 5em;
    }
}