

.work-container {
    background-color: var(--beige);
    margin: auto auto;
    display: grid;
    width: 100%;
    max-width: 100%;
    height: fit-content;
    justify-content: center;
}

.tab-group {
    overflow-x: hidden;
}

.tab-row {
    display: flex;
    gap: 20px;
    padding: 50px 10px;
    justify-content: center;
}

@media (max-width: 760px) {
    .tab-row {
        justify-content: start;
    }
}


.tab-item {
    font-size: small;
    padding: 10px;
}

.tab-item.active {
    background-color: var(--yellow);
    color: var(--black);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px var(--black);
    border: 2px solid var(--black)
}

.work-group {
    overflow-x: hidden;
}

.work-group-row {
    padding: auto auto;
    display: flex;
    gap: 20px;
}

.work-group-items {
    background-color: var(--white);
    min-height: 860px;
    min-width: 500px;
    box-shadow: 10px 10px var(--black);
    border-radius: 10px;
}

.work-button {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 50px;
}

