.work-container {
    background-color: var(--beige);
    margin: auto auto;
    display: grid;
    width: 100vw;
    max-width: 100%;
    height: fit-content;
    justify-content: center;
}

.tab-group {
    justify-content: center;
    display: flex;
}

.tab-row {
    display: flex;
    gap: 50px;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.dropdown {
    background-color: var(--green);
    color: var(--black);
    padding: 10px;
    border: 2px solid var(--black);
    border-radius: 10px;
    box-shadow: 5px 5px var(--black);
    margin: 20px;
    width: 80%;
}

.Dropdown-control.dropdown-control {
    background-color: var(--green);
    border: none;
    color: var(--black);
    padding: 5px;
    font-size: small;
    align-items: center;
    display: flex;
}

.Dropdown-arrow.dropdown-arrow {
    border-color: var(--black) transparent transparent;
    border-style: solid;
    border-width: 6px 6px 0;
    content: ' ';
    display: block;
    height: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 0;
}

.Dropdown-placeholder.dropdown-placeholder {
    margin-right: auto;
}

.Dropdown-menu.dropdown-menu {
    background-color: var(--white);
    border-radius: 10px;
    border: 2px solid var(--black);
    box-shadow: 5px 5px var(--black);
    font-size: small;
    margin: 5px auto 0px auto;
    top: 100%;
}

@media (max-width: 1200px) {
    .tab-row {
        display: none;
    }
}

@media (min-width: 1200px) {
    .dropdown {
        display: none;
    }
}

.tab-item {
    font-size: small;
}

.tab-item.active {
    background-color: var(--yellow);
    color: var(--black);
    border-radius: 10px;
    box-shadow: 5px 5px var(--black);
    border: 2px solid var(--black);
    padding: 20px 0px;
}

.work-group {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

/* .work-group-row {
    padding: auto auto;
    display: flex;
    gap: 20px;
} */

.work-group-items {
    background-color: var(--white);
    min-height: 860px;
    min-width: 500px;
    box-shadow: 10px 10px var(--black);
    border-radius: 10px;
}

.work-button {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 50px;
}

@media (max-width: 1200px) {
    .work-group {
        grid-template-columns: 1fr;
    }
}
