.review-container {
    background-color: var(--green);
}

.cross-tape {
    position: relative;
}

.cross-tape-first {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.cross-tape-second {
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    overflow-x: hidden;
    padding: 150px 20px 50px 20px;
}

