.about-section {
    background-color: var(--yellow);
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--black);
    align-items: center;
    justify-content: center;
}

.burst-image {
    align-self: center;
    justify-self: center;
}

.circle-image {
    width: 350px;
    height: 350px;
    background-image: url(../../static/img/shweta.png);
    background-repeat: no-repeat;
    background-size: 400px 400px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}

.about-text {
    font-family: "MonumentExtended", sans-serif;
}

@media (max-width: 760px) {
    .about-section{
        grid-template-columns: 1fr;
    }
}