.about-section {
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    color: var(--black);
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.burst-image {
    position: relative;
    left: 0;
    top: -80px;
    height: 500;
    width: 500;
}

.circle-image {
    width: 350px;
    height: 350px;
    background-image: url(../../static/img/shweta.png);
    background-repeat: no-repeat;
    background-size: 400px 400px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}

.about-text {
    font-family: "MonumentExtended", sans-serif;
}

