.robin-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--yellow);
    color: var(--black);
    z-index: -10;
    align-items: center;
    justify-content: center;
}

.shweta-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--yellow);
    color: var(--black);
    padding: auto auto;
    align-items: center;
    justify-content: center;
}

.burst-image {
    background-image: url(../../static/img/robin.png);
    width: 400px;
    height: 400px;
    position: relative;
    align-self: center;
    justify-self: center;
}

.burst-image:before, .burst-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 400px;
    background: inherit;
}

.burst-image:before {
    transform: rotate(30deg)
}

.burst-image:after {
    transform: rotate(60deg);
}


.circle-image {
  width: 400px;
  height: 400px;
  background-image: url(../../static/img/shweta.png);
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}

.about-text {
    font-family: "MonumentExtended", sans-serif;
    text-align: center;
}