.config-container {
    max-width: 1400px;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.side-bar {
    border-right: 2px solid var(--black);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.main-content {
    padding: 20px;
}

.config-element {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.config-element > input {
    border: 2px solid var(--black);
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: "Space Grotesk", sans-serif;
    height: 40px;
}