.navbar {
    background-color: var(--white);
    height: 110px;
    width: 100%;
    color: var(--black);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: space-between;
    align-items: center;
    border-bottom: medium solid var(--black);
}

.logo {}

.nav-group {
    display: flex;
    margin: 10px;
    padding: 20px;
    justify-content: space-between;
}

.menu {
    align-self: center;
    justify-self: center;
}

@media (max-width: 768px) {
    .nav-group {
        display: none;
    }

    .navbar {
        grid-template-columns: 3fr 1fr;
    }
}