.navbar {
    background-color: var(--white);
    height: 110px;
    width: 100%;
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: medium solid var(--black);
}

.logo {
    margin-left: 20px;
    align-self: center;
    margin-right: auto;
}

.nav-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px
}

.nav-contact-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
    margin-left: auto;
}


.menu {
    align-self: center;
    justify-self: center;
}

.menu-group {
    width: 80%;
    max-height: fit-content;
    border: 2px solid var(--black);
    border-radius: 10px;
    box-shadow: 10px 10px var(--black);
    background-color: var(--white);
    position: absolute;
    right: 20px;
    top: 100px;
    z-index: 10;
    display: block;
}

.menu-item {
    padding: 20px;
}

.menu-contact-group {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 768px) {
    .menu {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav-group {
        display: none;
    }
}